<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ciao</title>
</head>
<body>
    <div> 
        <h3>{{sensor.name}}</h3>
        <h5>Category : {{sensor.category}}</h5>
        <h5>Room : {{sensor.room}}</h5>

        <button type="button">Change {{sensor.name}}</button>
    </div>

</body>
</html>